html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* custom styes */
 *,
 *::before,
 *::after{
	 box-sizing: border-box;
 }
 body {
	 font-size: 16px;
	 line-height: 1.5;
 }
 .container {
	 max-width: 1200px;
	 margin: 0 auto;
	 padding: 0 30px;
 }

 /* header */
.header {
	 background-color: rgb(34,41,70);
	 padding: 16px 0;
	 margin-bottom: 30px;
 }
 .brand img {
  width: 150px;
  height: 80px;
 }
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.nav a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
}
.nav a img {
	vertical-align: middle;
}

/* block1 */
.side {
	background-color: rgb(163,202,234);
	padding: 32px;
	flex: 0 1 30%;
	align-self: stretch;
	border: none;
	border-radius: 5px;
}
.col1 {
	display: flex;
	flex-direction: column;	

}
.col1 a {
	text-decoration: none;
	color: rgb(34,41,70);
	font-size: 600;
	padding: 20px;

}
.col1 a img {
	vertical-align: middle;
	margin-right: 20px;
}
.article {
	width: 100%;
	border: 1px solid rgb(237,121,41);
}
.col1 .article {

	color: rgb(237,121,41);
}
.log-out {
	margin-top: 200px;
}
.box {
	width: 100%;
	padding: 5px 20px;
	background-color: white;
	text-align: center;
}
.btn {
	width: 100%;
	padding: 15px 30px;
	background-color: white;
	color: rgb(34,41,70);
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	margin-top: 130px;
}
.btn img {
	margin-right: 20px;
	vertical-align: middle;
}

/* block2 */
.article1 {
	flex: 0 1 60%;
	padding: 10px 5px;
	background-color: whitesmoke;
}
.blockimg img {
	width: 800px;
	height: 400px;
}
h1 {
	font-size: 24px;
	font-weight: 400;
}
.readbtn {
	background-color: rgb(83,182,103);
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 3px;
}

/* footer */
footer {
	background-color: rgb(34,41,70);
	padding: 16px 0;
	color: white;
	font-size: 32px;
	margin-top: 40px;
}

